html{scroll-behavior:smooth}
body{
  font-family: 'Open Sans';
  background:#fff;
  color:#121212;   
  }
.lin ,.lout{
  display: none;
}


.bootstrap-tagsinput .tag {
  background: #121212;
  padding: 0 6px;
  margin-right: 2px;
  color: white;
  border-radius: 4px;
}